

/*---------home--------*/
img {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.left{
  position: relative;
  margin-top: 5%;
} 
.left img{
  height: 100%;
}
.right {
  width: 60%;
  position: relative;
  padding: 80px;
}



p {
  margin-top: 20px;
  line-height: 30px;
}

.heading .line {
  width: 50px;
  height: 2px;
  background: white;
  margin-top: 13px;
  margin-right: 5px;
}

.heading .line2 {
  width: 20px;
}

.heading .heading_top i {
  line-height: 30px;
  font-size: 5px;
  margin-right: 10px;
  color: yellow;
}

.heading h1 {
  margin-top: 30px;
  font-size: 60px;
}

.heading span {
    color:#7c66e3;
    ;
    font-size: 3rem;
}

.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.home {
  padding-top: 5%;
}

.home .left {
  padding-top: 10%;
}

.home button {
  margin-top: 50px;
}

.dots i {
  color: yellow;
  font-size: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.2);
  animation: animName 2s infinite;
}

.dots i:nth-child(2) {
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 50px -8px #fff;
}

.dots i:nth-child(3) {
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.dots i:nth-child(3) {
  font-size: 20px;
}

@keyframes animName {
  0% {
    transform: scale(1.3);
  }

  30% {
    transform: scale(1.3);
  }
}


/*---------home--------*/
/*---------about--------*/
.btn3 {
  background: none;
  border: 2px solid #20C863;
  color: #20C863;
  padding: 15px 50px;
}


.heading h2 {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.about h4 {
  font-size: 30px;
}


.about .box h5 {
  position: absolute;
  top: -5px;
  left: 0;
  width: 50px;
  height: 50px;
  background: #20C863;
  border-radius: 50%;
  line-height: 50px;
  font-weight: 500;
}

.about .items {
  margin-left: 10%;
}

.about .items:nth-child(1) {
  margin-left: 25%;
}

/*---------about--------*/
/*---------services--------*/
.center {
  text-align: center;
}

.heading2 h2 {
  margin: 0;
  text-align: center;
}

.heading2 .heading_top {
  justify-content: center;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.services .box {
  background: #040913;
  padding: 20px;
  position: relative;
}

.services .img {
  position: absolute;
  top: -30px;
  left: 40px;
  width: 70px;
  height: 70px;
  background: #20C863;
  padding: 10px;
  border-radius: 50%;
}

.services .text {
  margin-top: 50px;
}

.services hr {
  width: 30px;
  background: #20C863;
  border: 2px solid #20C863;
  margin-top: 10px;
}

/*---------services--------*/
/*---------skills--------*/
/*---------line skills--------*/


/*---------portfolio--------*/
/*---------experience--------*/
.experience {
  padding-top: 5%;
}

.experience h2 {
  margin: 0;
}

.experience .heading_top {
  justify-content: center;
}

.experience .left img {
  width: 80%;
}

.timeline {
  position: relative;
}

.timeline .content section {
  width: 100%;
}

.timeline .line {
  position: absolute;
  height: 115%;
  width: 4px;
  background: white;
  left: 0;
}

.timeline .icon {
  position: absolute;
  background: #fff; 
 height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px !important;
  box-shadow: 0 0 0 4px white,
}

.timeline .content:nth-child(5) .icon,
.timeline .content:nth-child(3) .icon {
    background: linear-gradient(180deg,#aa94fe 0%, #7c5fe6 100%);}

.content-1 .icon {
  position: absolute;
  left: -30px;
  top: 0;
}

.timeline .content section {
  border-radius: 5px;
  width: 100%;
  padding-left: 40px;
  position: relative;
}

.timeline span {
  color: lime;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.timeline .content:nth-child(5) span,
.timeline .content:nth-child(3) span {
  color:cyan;
}

.timeline .content {
  margin-bottom: 20px;
}

.timeline p {
  opacity: 0.5;
}

/*---------experience--------*/
/*---------Testimonials--------*/
.Testimonials h2 {
  margin: 0;
}

.Testimonials .img {
  margin-top: 100px;
  grid-template-columns: repeat(2, 1fr);
}

.Testimonials .img img {
  width: auto;
  height: auto;
  filter: brightness(7);
  opacity: 0.5;
  margin-top: 50px;
}

.Testimonials .img img:hover {
  filter: brightness(1);
  opacity: 1;
  cursor: pointer;
}

.Testimonials .item .item_img {
  width: 80px;
  height: 80px;
}

.Testimonials .item img {
  border-radius: 50%;
}

.Testimonials i {
  color: #20C863;
  font-size: 80px;
}
@media(max-width:768px){

  .experience .content {
    flex-direction: column;
  }

  .experience .left img {
    width: 100%;
  }

  .experience .left, .right {
    width: 100%;
  }

}
